body {
  font-family: 'Source Sans Pro', sans-serif;
  color: '#222';
}

p {
  font-size: 12pt;
}

h1 {
  margin-bottom: 20px;
}

.homeText {
  margin-top: 60px;
  font-size: 14pt;
}

.containerInner {
  padding-top: 60px;
}

.inferences-sunburst {
  margin: 20px;
}