.node__root > circle {
  r: 10;		
}

.node__root text {
  font: 45px sans-serif;
  fill: rgb(41, 41, 41);
}


.node__branch > circle {
  /*fill: #fff;*/
  /*stroke: steelblue;*/
  stroke-width: 3px;
  r: 10;
}

.node_branch text {
  font: 20px sans-serif;
  fill: rgb(41, 41, 41);
}

.node__leaf > circle {
  /*fill: #fff;*/
  /*stroke: steelblue;*/
  stroke-width: 3px;
  r: 10;
}

.node__leaf text {
  font: 15px sans-serif;
  fill: rgb(41, 41, 41);;
}

.node > circle {
  /*fill: #fff;*/
  /*stroke: steelblue;*/
  stroke-width: 3px;
  r: 20;
}

.rd3t-link {
  fill: none;
  opacity: 0.1 !important;
  stroke-width: 1.5px;
}

