.btn {
    padding: 10px 20px 10px 20px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    font-size: 1rem;
    border-radius: .2rem;
    border: 0;
    margin: 0;
}

.btn-lt {
    background-color: #D6D6CE;
    color: #222222;
}

.btn-dk {
    background-color: #767676;
    color: #fff;
}