/* filling up to 100% */
html, body, .row, .container-fluid {
    height:100%;
  }
  
h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

p > a , h6 > a , h3 > a {
	color: #800000;
}
p > a:hover, h6 > a:hover , h3 > a:hover {
	color: black;
}

.main {
  padding: 50px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  /* border-right: 1px solid #eee; */
	background-color: #767676;
	height: 100%;
}

/* Sidebar navigation */

.sidebar .nav {
  margin-bottom: 15px;
}

.sidebar .nav-item {
  width: 100%;
  padding-top: 5px;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 5px;
}

.nav-title{
	color: white;
  font-weight: bold;
  padding-top: 10pt;
	/* border-top: 1px solid #eee; */
}

.nav-link, .nav-link:hover{
	color: white;
	font-size: 14px;
}

/*
 * Cards
 */


 .card-block {
	 padding-left: 20px;
	 padding-right: 20px;
	 padding-top: 20px;
	 padding-bottom: 20px;
 }


.domainList {
		/*
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
		*/
		list-style-type: none;
}




 .list-group-item {
	 padding-top: 8px;
	 padding-bottom: 8px;
 }


 .p-pages {
	 font-size: 11px;
	 text-indent: 50px;
 }

.btn-primary{
	background-color: maroon;
	border-color: maroon;
}

.btn-primary:hover{
	background-color: #642822;
	border-color: #642822;
}

.inferviz-node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}
